# THIS FILE IS FOR ASDF(https://asdf-vm.com/) USERS
# INSTALL REMINDER NOTE: asdf plugin add <name-below> && asdf install <name-below> <corresponding-version>
nodejs 18.20.3
tilt 0.35.0
helm 3.16.3
kubectl 1.31.3 